
{% extends 'base.html'%}
{% block content%}


<style>
  .img {
    object-fit: cover;
    width: 200px;
    height: 200px;
	}

  body{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp5408549.png&f=1&nofb=1");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


</style>
    <div class="img-back">
    <h1>Refugio de Mascotas</h1>
    <h2>Bienvenido  {{ user.get_full_name }}</h2>

{% if user.image %}<img src= "{{user.image.url}}" class="img" > {% endif %}




{% endblock %}
</div>


